*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --first-div:#323b4c;
  --scnd-div:#f3f4f6;
}
.main-div{
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.inner-div-1{
  background-color: var(--first-div);
  padding: 1rem;
  color: white;
}
.inner-div-2{
  padding: 1rem;
  background-color: var(--scnd-div);
  padding-top: 3rem;
}